<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<p></p>
<form th:method="PATCH" th:action="@{/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="userName">Enter firstName: </label>
    <input type="text" th:field="*{username}" id="userName"/>
    <br/>
    <label for="password">Enter lastName: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>