<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p></p>
<table border="1">
    <tr>
        <th>index</th>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>edit</th>
    </tr>
    <tr th:each="user, state : ${users}">
        <td th:text="${state.index}">index</td>
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getFirstName()}">firstName</td>
        <td th:text="${user.getLastName()}">lastName</td>
        <td><a th:href = "@{edit(id=${user.getId()})}"> edit </a></td>
    </tr>
</table>
<br/>
<hr/>

<a href="/users/add">Create new person</a>
</body>
</html>